.awais-chatbot {
    position: relative;
    bottom: 60px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    z-index: 1000;
    width: 300px;
    transition: transform .3s ease
}

.awais-chatbot.closed {
    transform: translateY(100%)
}

.awais-chatbot.open {
    transform: translateY(0)
}

.awais-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    text-align: center
}

.awais-messages {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto
}

.awais-message {
    margin: 5px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000
}

.awais-options {
    margin-top: 10px
}

.awais-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color .3s
}

.awais-button:hover {
    background-color: #0056b3
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ffffffde;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #fff
    }

    a:hover {
        color: #747bff
    }

    button {
        background-color: #f9f9f9
    }
}